#### response

| Fields         | Type   | Never null | Description                                                                              |
|----------------|--------|------------|------------------------------------------------------------------------------------------|
| result         | bool   | yes        | Whether the request was successful or not. True: request succeeded;False: request failed |
| code           | int    | yes        | Error code. 0 indicates success, >0 indicates failure                                    |
| message        | string | no         | Error message                                                                            |
| data           | object | no         | Data returned by request, the delete action may not have a valu                          |
| permission     | object | no         | Permission information                                                                   |
| job_request_id | string | no         | Request chain id                                                                         |
