#### response

| Fields     | Type   | Description                                                                              |
|------------|--------|------------------------------------------------------------------------------------------|
| result     | bool   | Whether the request was successful or not. True: request succeeded;False: request failed |
| code       | int    | Error code. 0 indicates success, >0 indicates failure                                    |
| message    | string | Error message                                                                            |
| data       | object | Data returned by request                                                                 |
| permission | object | Permission information                                                                   |
| request_id | string | Request chain id                                                                         |
