| Fields            | Type   | Never null | Description       |
|-------------------|--------|------------|-------------------|
| job_instance_id   | long   | yes        | Job instance ID   |
| job_instance_name | string | no         | Job instance name |
| step_instance_id  | long   | no         | Step instance ID  |
