##### rolling_config

| Fields    | Type   | Required | Description |
|------------|--------|----|------------------------------------|
| expression | string | yes  | Rolling strategy expression                            |
| mode       | int    | yes  | Rolling mechanism, 1-pause if execution fails; 2- Ignore failure and automatically scroll to the next batch; 3- Manual confirmation |
