##### host_password_list

| Fields      | Type   | Required | Description        |
|-------------|--------|----------|--------------------|
| bk_cloud_id | long   | no       | BK-Net ID          |
| ip          | string | no       | IP Address         |
| host_id     | long   | no       | host ID            |
| password    | String | yes      | Encrypted password |
