| Field       | Type   | Required | Description                                                                                                                                             |
|-------------|--------|----------|---------------------------------------------------------------------------------------------------------------------------------------------------------|
| bk_host_id  | long   | No       | Host ID. One of bk_host_id or ip+bk_cloud_id must be provided. When both bk_host_id and ip+bk_cloud_id are provided, bk_host_id takes precedence.       |
| bk_cloud_id | long   | No       | Cloud area ID. One of bk_host_id or ip+bk_cloud_id must be provided. When both bk_host_id and ip+bk_cloud_id are provided, bk_host_id takes precedence. |
| ip          | string | No       | IP address. One of bk_host_id or ip+bk_cloud_id must be provided. When both bk_host_id and ip+bk_cloud_id are provided, bk_host_id takes precedence.    |
