##### dynamic_group

| Field | Type   | Required | Description |
|-------|--------|----------|-------------|
| id    | string | Yes      | Dynamic group ID |

##### topo_node

| Field      | Type   | Required | Description |
|------------|--------|----------|-------------|
| id         | long   | Yes      | Topology node ID |
| node_type  | string | Yes      | Topology node type. Allowed values: `module`, `set` |
