| Fields            | Type | Description       |
|-------------------|------|-------------------|
| job_instance_id   | long | Job instance ID   |
| job_instance_name | long | Job instance name |
| step_instance_id  | long | Step instance ID  |