##### file_source

| Fields           | Type   | Required | Description                                                                                                                                                                                                                                                                                                            |
|------------------|--------|----------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| file_list        | array  | yes      | Support multiple files. If the file source type is a server file, fill in the absolute path array of the source file; If the file source type is a third-party file source, the path filled in for the COS file source is "bucket name/file path", for example: testbucket/test.txt                                    |
| account          | object | yes      | The file source account, as defined in the account, is required when the file source type is server file source, and does not need to be filled in when the file source type is third-party file source                                                                                                                |
| server           | object | no       | Source server，see server definition                                                                                                                                                                                                                                                                                    |
| file_type        | int    | no       | File source type, 1: server file, 3: third-party file source file, default is 1 if not transmitted                                                                                                                                                                                                                     |
| file_source_id   | int    | no       | When file_date is 3, choose one of file_stource_id and file_stource_comde to fill in. If both are filled in, priority should be given to using file_stource_id and the third-party file source ID. You can obtain the details of the steps in the returned result from the get-job_detail interface                    |
| file_source_code | string | no       | When file_date is 3, choose one of file_stource_id and file_stource_comde to fill in. If both are filled in, priority should be given to using file_stource_id, the third-party file source identifier, which can be obtained from the file distribution page of the job platform ->select file source file pop-up box |
