##### host_password_list

| Fields      | Type   | Required | Description        |
|-------------|--------|----------|--------------------|
| bk_cloud_id | long   | no       | BK-Net ID          |
| ip          | string | no       | IP Address         |
| host_id     | long   | no       | host ID. host_id and bk_cloud_id+ip, at least one must be filled in, If all of them are filled in, the host id will be preferred.|
| encrypted_password    | String | yes      | Encrypted password |
