| Field       | Type   | Required | Description                                                                          |
|-------------|--------|----------|--------------------------------------------------------------------------------------|
| id          | long   | No       | Account ID. Mutually exclusive with `account_var`                                    |
| account_var | string | No       | Name of a global variable of type "execute account" to reference. Mutually exclusive with `id` |

At least one of `id` and `account_var` must be provided. When both are given, `id` wins and `account_var` is ignored
and not stored.

The variable referenced by `account_var` must be declared in `global_var_list` of the same request with `type` `7`
(execute account), otherwise the request fails with a parameter error.
