| status | Description         |
|--------|---------------------|
| 1      | Pending Execution   |
| 2      | Running             |
| 3      | Success             |
| 4      | Fail                |
| 5      | Skipped             |
| 6      | Ignore Error        |
| 7      | Waiting for User    |
| 8      | Manually Ended      |
| 9      | Abnormal State      |
| 10     | Stopping            |
| 11     | Stop Success        |
| 13     | Confirm Termination |
| 14     | Abandoned           |
| 15     | Rolling Waiting     |
