### Function Description

Create an account (currently only system accounts are supported)

### Request Parameters

#### Interface parameters

| Fields        | Type   | Required | Description                                                                                                    |
|---------------|--------|----------|----------------------------------------------------------------------------------------------------------------|
| bk_scope_type | string | yes      | Resource scope type. Optional values: biz - Business, biz_set - Business Set                                   |
| bk_scope_id   | string | yes      | Resource scope ID. Corresponds to bk_scope_type, which means business ID or business set ID                    |
| bk_biz_id     | long   | yes      | Deprecated. Business ID. This field has been deprecated and replaced by the field bk_scope_type+bk_scope_id    |
| account       | string | yes      | Account name                                                                                                   |
| type          | int    | yes      | Account type（1：Linux，2：Windows）                                                                                |
| category      | int    | yes      | Account category（1：system account）                                                                             |
| password      | string | no       | System account password, required when the account purpose is a system account and the account type is Windows |
| alias         | string | no       | Alias,If not transmitted, use the account name as an alias                                                     |
| description   | string | no       | Description                                                                                                    |

### Example of request

- POST

```json
{
    "bk_scope_type": "biz",
    "bk_scope_id": "1",
    "account": "Admin",
    "type": 2,
    "category": 1,
    "password": "AdminPassword",
    "alias": "Admin",
    "description": "An account for windows"
}
```

### Example of response

```json
{
    "code": 0,
    "result": true,
    "data": {
        "id": 70,
        "bk_scope_type": "biz",
        "bk_scope_id": "1",
        "account": "Admin",
        "alias": "Admin",
        "category": 1,
        "type": 2,
        "os": "Windows",
        "description": "An account for windows",
        "creator": "admin",
        "create_time": 1614659536108,
        "last_modify_user": "admin",
        "last_modify_time": 1614659536116
    },
    "job_request_id": "xxx"
}
```

### Return Result Description

{% include '_generic_response.md.j2' %}

#### data

| Fields               | Type   | Whether it must exist | Description                                                                                               |
|----------------------|--------|-----------------------|-----------------------------------------------------------------------------------------------------------|
| id                   | long   | yes                   | Account ID                                                                                                |
| bk_scope_type        | string | yes                   | Resource scope type. Optional values: biz - Business，biz_set - Business Set                               |
| bk_scope_id          | string | yes                   | Resource scope ID. Corresponds to bk_scope_type, which means business ID or business set ID               |
| account              | string | yes                   | Account name                                                                                              |
| alias                | string | yes                   | Account alias                                                                                             |
| category             | int    | yes                   | Account usage (1: system account, 2: DB account)                                                          |
| type                 | int    | yes                   | Account type (1: Linux, 2: Windows，9：MySQL，10： Oracle，11：DB2）                                             |
| os                   | string | no                    | This field takes effect when the account is used as a system account. The OS corresponding to the account |
| description          | string | no                    | Account description                                                                                       |
| db_system_account_id | long   | no                    | If the account is used as a DB account, this field takes effect and the corresponding system account ID   |
| creator              | string | yes                   | creator                                                                                                   |
| create_time          | long   | yes                   | Creation time Unix timestamp (ms)                                                                         |
| last_modify_user     | string | yes                   | Last modify user                                                                                          |
| last_modify_time     | long   | yes                   | Last modified time Unix timestamp (ms)                                                                    |
