### Function Description

Delete  public script will also delete all script versions under that script.

### Request Parameters

#### Interface parameters

| Fields    | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| script_id | string | yes      | Public script id |


### Example of request

```json
{
    "bk_app_code": "esb_test",
    "bk_app_secret": "xxx",
    "bk_token": "xxx",
    "script_id": "4537fb49ec0840a1b91cef4179c99f9c"
}
```

### Example of responses

```json
{
    "code": 0,
    "result": true
}
```

### Response Description

{% include '_generic_response.md.j2' %}

#### data

null
