### Function Description

Disable dangerous rule

### Request Parameters

#### Interface parameters

| Fields | Type | Required | Description |
| ------ | ---- | -------- | ----------- |
| id     | long | yes      | Rule id     |


### Example of request

```json
{
    "bk_app_code": "esb_test",
    "bk_app_secret": "xxx",
    "bk_token": "xxx",
    "id": 1
}
```

### Example of responses

```json
{
    "code": 0,
    "result": true,
    "data": {
        "id": 1,
        "status": 0
    }
}
```

### Response Description

{% include '_generic_response.md.j2' %}

#### data

| Fields | Type | Description                              |
| ------ | ---- | ---------------------------------------- |
| id     | long | Rule id                                  |
| status | int  | Enabling status: 0- disabled, 1- enabled |
