### Function Description

query job link by gse task id

### Request Parameters

#### Interface parameters

| Fields      | Type | Required | Description |
|-------------|------|----------|-------------|
| gse_task_id | Int  | yes      | gse task id |

### Example of request

- GET

```json
/api/v3/system/query_job_instance?gse_task_id=a:aa:aa:a
```

### Example of response

```json
{
  "result": true,
  "code": 0,
  "message": "success",
  "data": {
    "bk_scope_type": "biz",
    "bk_scope_id": "1",
    "job_instance_id": 1000000,
    "step_instance_id": 10000001,
    "retry_count": 0,
    "batch": 1,
    "gse_task_id": "aa:aa:aa:aa",
    "link": [
      "https://xxx.com"
    ]
  }
}
```

### Response Description

{% include '_generic_response.md.j2' %}

##### data

| Fields           | Type     | Description                                                                                 |
|------------------|----------|---------------------------------------------------------------------------------------------|
| bk_scope_type    | string   | Resource scope type. Optional values: biz - Business，biz_set - Business Set                 |
| bk_scope_id      | string   | Resource scope ID. Corresponds to bk_scope_type, which means business ID or business set ID |
| job_instance_id  | long     | Job instance ID                                                                             |
| step_instance_id | long     | Step instance ID                                                                            |
| retry_count      | int      | Step retry count                                                                            |
| batch            | int      | Batch No. Not set to 0 when rolling                                                         |
| gse_task_id      | string   | Gse task id                                                                                 |
| link             | string[] | Gse task id corresponding job links                                                         |
