### Function Description

Query the encrypted metadata information of the host account password

### Request Parameters

#### Interface parameters

null

### Example of request

- GET

```json
/api/v3/get_account_password_encryption_metadata?bk_scope_type=biz&bk_scope_id=1
```

### Example of responses

```json
{
    "code": 0,
    "result": true,
    "data": {
        "public_key": "xxx",
        "encrypt_algorithm": "RSA"
    },
    "job_request_id": "xxx"
}
```

### Response Description

{% include '_generic_response.md.j2' %}

##### data

| Fields            | Type   | Whether it must exist | Description                                                                                                                                                     |
|-------------------|--------|-----------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------|
| public_key        | string | yes                   | Public Key (Base 64 Encoding)                                                                                                                                   |
| encrypt_algorithm | string | yes                   | Encryption algorithms,The encryption algorithm supports classic cryptographic algorithms (RSA, AES) and national commercial cryptographic algorithms (SM2, SM4) |
