### Function Description

Query credential details

### Request Parameters

#### Interface parameters

| Fields        | Type   | Required | Description                                                                                                 |
|---------------|--------|----------|-------------------------------------------------------------------------------------------------------------|
| bk_scope_type | string | yes      | Resource scope type. Optional values: biz - Business，biz_set - Business Set                                 |
| bk_scope_id   | string | yes      | Resource scope ID. Corresponds to bk_scope_type, which means business ID or business set ID                 |
| bk_biz_id     | long   | yes      | Deprecated. Business ID. This field has been deprecated and replaced by the field bk_scope_type+bk_scope_id |
| id            | String | yes      | Credential ID                                                                                               |

### Example of request

- GET

```json
/api/v3/get_credential_detail?bk_scope_type=biz&bk_scope_id=2&id=xxx
```

### Example of responses

```json
{
    "result": true,
    "code": 0,
    "data": {
        "bk_scope_type": "biz",
        "bk_scope_id": "2",
        "id": "xxx",
        "name": "xxx",
        "type": "xxx",
        "description": "xxx",
        "creator": "admin",
        "create_time": 1712049204719,
        "last_modify_user": "admin",
        "last_modify_time": 1712049204719
    },
    "job_request_id": "xxx"
}
```

### Response Description

{% include '_generic_response.md.j2' %}

##### data

| Fields           | Type   | Whether it must exist | Description                                                                                 |
|------------------|--------|-----------------------|---------------------------------------------------------------------------------------------|
| id               | long   | yes                   | Credential ID                                                                               |
| bk_scope_type    | string | yes                   | Resource scope type. Optional values: biz - Business，biz_set - Business Set                 |
| bk_scope_id      | string | yes                   | Resource scope ID. Corresponds to bk_scope_type, which means business ID or business set ID |
| name             | string | yes                   | Credential Name                                                                             |
| type             | string | yes                   | Type. optional values：APP_ID_SECRET_KEY，PASSWORD，USERNAME_PASSWORD，SECRET_KEY               |
| description      | string | no                    | Credential description                                                                      |
| creator          | string | yes                   | creator                                                                                     |
| create_time      | long   | yes                   | Creation time Unix timestamp (ms)                                                           |
| last_modify_user | string | yes                   | Last modify user                                                                            |
| last_modify_time | long   | yes                   | Last modified time Unix timestamp (ms)                                                      |
