<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <contextName>logback</contextName>

    <property name="APP_NAME" value="${APP_NAME:-job-backup}"/>
    <property name="BK_LOG_DIR" value="${job.log.dir:-/data/bkee/logs/job}"/>
    <property name="APP_LOG_DIR" value="${BK_LOG_DIR}/job-backup}"/>
    <property name="APP_LOG_NAME" value="backup.log"/>
    <property name="APP_LOG_FILE" value="${APP_LOG_DIR}/${APP_LOG_NAME}"/>
    <property name="ARCHIVE_ERROR_LOG_FILE" value="${APP_LOG_DIR}/archive_error.log"/>

    <include resource="logback-default.xml"/>

    <appender name="archive-error-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ARCHIVE_ERROR_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ARCHIVE_ERROR_LOG_FILE}-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>168</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="dev &amp; !kubernetes">
        <logger name="ArchiveFailedLogger" level="WARN" additivity="false">
            <appender-ref ref="archive-error-appender"/>
        </logger>
    </springProfile>
    <springProfile name="prod &amp; !kubernetes">
        <logger name="ArchiveFailedLogger" level="WARN" additivity="false">
            <appender-ref ref="archive-error-appender"/>
        </logger>
    </springProfile>
    <springProfile name="dev &amp; kubernetes">
        <logger name="ArchiveFailedLogger" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="archive-error-appender"/>
        </logger>
    </springProfile>
    <springProfile name="prod &amp; kubernetes">
        <logger name="ArchiveFailedLogger" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="archive-error-appender"/>
        </logger>
    </springProfile>
</configuration>
