apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" . }}-common
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: "job-common"
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
data:
  application.yaml: |-
    spring:
      security:
        user:
          name: {{ .Values.job.security.actuator.user.name }}
          password: {{ .Values.job.security.actuator.user.password }}
          roles: ENDPOINT_ADMIN
    app:
      code: {{ .Values.appCode }}
      secret: {{ .Values.appSecret }}
    esb:
      service:
        url: {{ .Values.bkComponentApiUrl }}
    gse:
      cache:
        apiserver:
          host: {{ .Values.gse.cacheApiServer.host }}
          port: {{ .Values.gse.cacheApiServer.port }}
      ssl:
        enabled: {{ .Values.gse.ssl.enabled }}
        keystore:
          password: ${gse.keystore.password}
          path: "/data/job/cert/gse_job_api_client.keystore"
        truststore:
          manager-type: SunX509
          password: ${gse.truststore.password}
          store-type: JKS
          path: "/data/job/cert/gse_job_api_client.truststore"
      taskserver:
        host: {{ .Values.gse.taskserver.host }}
        port: {{ .Values.gse.taskserver.port }}
      server:
        discovery:
          type: {{ .Values.gse.server.discovery.type }}
        zookeeper:
          connect:
            string: {{ .Values.gse.server.zookeeper.connect.string }}
      query:
        threads:
          num: {{ .Values.gse.query.threads.num }}
        batchSize: {{ .Values.gse.query.batchSize }}
      script:
        rootPath: {{ .Values.gse.script.rootPath }}
    iam:
      base-url: {{ .Values.bkIamApiUrl }}
      system-id: {{ .Values.iam.systemId }}
    paas:
      server:
        url: {{ .Values.bkPaasUrl }}
      login:
        {{- if .Values.login.custom.enabled }}
        custom:
          enabled: {{ .Values.login.custom.enabled }}
          login-url: {{ .Values.login.custom.loginUrl }}
          api-url: {{ .Values.login.custom.apiUrl }}
          token-name: {{ .Values.login.custom.tokenName }}
        {{- else }}
        url: {{ .Values.bkLoginUrl }}
        {{- end }}
    job:
      security:
        service:
          private-key-base64: {{ .Values.job.security.privateKeyBase64 }}
          public-key-base64: {{ .Values.job.security.publicKeyBase64 }}
      edition: {{ .Values.job.edition }}
      encrypt:
        password: {{ .Values.job.encrypt.password }}
      web:
        url: {{ include "job.web.url" . }}
      feature:
        file-manage:
          enabled: {{ .Values.job.feature.toggle.fileManage.enabled }}
        cmdbBizSet:
          enabled: {{ .Values.job.feature.toggle.cmdbBizSet.enabled }}
        esbApiParamBkBizId:
          enabled: {{ .Values.job.feature.toggle.esbApiParamBkBizId.enabled }}
      storage:
        root-path: {{ .Values.persistence.localStorage.path }}/local
      trace:
        report:
          enabled: {{ .Values.job.trace.report.enabled }}
    cmdb:
      default:
        supplier:
          account: {{ .Values.cmdb.supplierAccount }}
      app:
        index:
          path: {{ .Values.cmdb.app.index.path }}
      interface:
        briefCacheTopo:
          enabled: {{ .Values.cmdb.interface.briefCacheTopo.enabled }}
        findHostRelation:
          longTerm:
            concurrency: {{ .Values.cmdb.interface.findHostRelation.longTerm.concurrency }}
        flowControl:
          default:
            limit: {{ .Values.cmdb.interface.flowControl.default.limit }}
          enabled: {{ .Values.cmdb.interface.flowControl.enabled }}
        retry:
          enabled: {{ .Values.cmdb.interface.retry.enabled }}
      query:
        threads:
          num: {{ .Values.cmdb.query.threads.num }}
      server:
        url: {{ .Values.bkCmdbUrl }}
    nodeman:
      server:
        url: {{ .Values.bkNodemanUrl }}
    artifactory:
      base-url: {{ .Values.bkRepoUrl }}
      admin:
        username: {{ .Values.artifactory.admin.username }}
        password: {{ .Values.artifactory.admin.password }}
      job:
        username: {{ .Values.artifactory.job.username }}
        password: {{ .Values.artifactory.job.password }}
        project: {{ .Values.artifactory.job.project }}
    local-file:
      storage-backend: {{ .Values.localFile.storageBackend }}
      artifactory:
        download:
          concurrency: {{ .Values.localFile.artifactory.download.concurrency }}
        repo: {{ .Values.localFile.artifactory.repo }}
    swagger:
      url: {{ .Values.swagger.url }}
    management:
      metrics:
        tags:
          application: ${spring.application.name}
