spring:
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: default
  sleuth:
    web:
      filter-order: 0
  cloud:
    ssl:
      useInsecureTrustManager: true
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
server:
  shutdown: graceful
management:
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
    # 使用spring cloud stream rabbitmq, 禁用掉springboot的rabbitmq health检查
    rabbit:
      enabled: false
  server:
    port: 19876
    ssl:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health,configprops,env,beans,conditions,loggers,metrics,mappings,prometheus,scheduledtasks,info,refresh,busrefresh,bindings
      base-path: /actuator
    enabled-by-default: false
  endpoint:
    health:
      enabled: true
      show-details: when_authorized
      probes:
        enabled: true
    configprops:
      enabled: true
    env:
      enabled: true
    beans:
      enabled: true
    conditions:
      enabled: true
    loggers:
      enabled: true
    metrics:
      enabled: true
    mappings:
      enabled: true
    prometheus:
      enabled: true
    scheduledtasks:
      enabled: true
    info:
      enabled: true
    refresh:
      enabled: true
    busrefresh:
      enabled: true

job:
  gateway:
    login-exemption:
      enabled: false
      default-user: admin
      default-user-tenant-id: default
