spring:
  cloud:
    consul:
      discovery:
        query-passing: true
  security:
    user:
      name: __BK_JOB_SECURITY_USERNAME__
      password: __BK_JOB_SECURITY_PASSWORD__
      roles: ADMIN
  sleuth:
    otel:
      exporter:
        enabled: __BK_JOB_TRACE_REPORT_ENABLED__
        otlp:
          endpoint: __BK_JOB_TRACE_REPORT_PUSH_URL__
      resource:
        bkDataToken: __BK_JOB_TRACE_REPORT_SECURE_KEY__
      config:
        traceIdRatioBased: __BK_JOB_TRACE_REPORT_RATIO__
app:
  code: __BK_JOB_APP_CODE__
  secret: __BK_JOB_APP_SECRET__
esb:
  service:
    url: __BK_PAAS_PRIVATE_URL__
# 蓝鲸Api Gateway 配置    
bkApiGateway:
  gse:
    url: __BK_API_GATEWAY_GSE_URL__
gse:
  enabled: true
  cache:
    apiserver:
      host: __BK_GSE_CACHE_APISERVER_HOST__
      port: __BK_GSE_CACHE_APISERVER_PORT__
  ssl:
    keystore:
      password: __BK_GSE_SSL_KEYSTORE_PASSWORD__
      path: __BK_CERT_PATH__/gse_job_api_client.keystore
    truststore:
      manager-type: SunX509
      password: __BK_GSE_SSL_TRUSTSTORE_PASSWORD__
      path: __BK_CERT_PATH__/gse_job_api_client.truststore
      store-type: JKS
  taskserver:
    host: __BK_GSE_TASKSERVER_HOST__
    port: __BK_GSE_TASKSERVER_PORT__
  query:
    threads:
      num: 5
    batchSize: 5000
  script:
    rootPath: "/tmp/bkjob"    
iam:
  base-url: __BK_IAM_PRIVATE_URL__
  system-id: bk_job
paas:
  server:
    url: __BK_PAAS_PUBLIC_URL__
  login:
    url: __BK_PAAS_PUBLIC_URL__/login/
job:
  security:
    service:
      private-key-base64: __BK_JOB_SECURITY_PRIVATE_KEY_BASE64__
      public-key-base64: __BK_JOB_SECURITY_PUBLIC_KEY_BASE64__
  {% if job_edition == "ee" -%}
  edition: ee
  {% endif -%}
  {% if job_edition == "ce" -%}
  edition: ce
  {% endif -%}
  encrypt:
    password: __BK_JOB_ENCRYPT_PASSWORD__
  web:
    url: __BK_JOB_PUBLIC_URL__
  features:
    fileManage:
      enabled: false
    bkBizIdCompatible:
      enabled: true
    gseV2:
      enabled: true
  storage:
    root-path: __BK_HOME__/public/job

# 制品库相关配置
artifactory:
  base-url: __BK_REPO_PUBLIC_URL__
  admin:
    username: __BK_REPO_ADMIN_USERNAME__
    password: __BK_REPO_ADMIN_PASSWORD__
  job:
    username: __BK_REPO_JOB_USERNAME__
    password: __BK_REPO_JOB_PASSWORD__
    # Job使用的项目名
    project: __BK_REPO_JOB_PROJECT__

# 本地文件上传相关配置
local-file:
  # 存储后端：
  # local表示存储于本地，需要部署Job的多台机器间使用NFS共享job.storage.root-path
  # artifactory表示存储于蓝鲸制品库，需要环境中部署有蓝鲸制品库
  storage-backend: local
  # 存储后端为蓝鲸制品库时的配置
  # storage-backend: artifactory
  # artifactory:
  #   download:
  #    # 用于从蓝鲸制品库下载用户上传的本地文件的并发线程数
  #     concurrency: 10
  #   # 存储用户上传的本地文件的仓库名称
  #   repo: localupload

# cmdb 配置
cmdb:
  app:
    index:
      path: /#/business/{appId}/index
  interface:
    briefCacheTopo:
      enabled: false
    findHostRelation:
      longTerm:
        concurrency: 10
    retry:
      enabled: true
  query:
    threads:
      num: 50
  server:
    url: __BK_CMDB_PUBLIC_URL__

swagger:
  url: swagger.job.com

