| 状态码 | 描述     |
|-----|--------|
| 1   | 等待执行   |
| 2   | 正在执行   |
| 3   | 执行成功   |
| 4   | 执行失败   |
| 5   | 跳过     |
| 6   | 忽略错误   |
| 7   | 等待用户   |
| 8   | 手动结束   |
| 9   | 状态异常   |
| 10  | 强制终止中  |
| 11  | 强制终止成功 |
| 13  | 确认终止   |
| 14  | 被丢弃    |
| 15  | 滚动等待   |
