| 字段                 | 类型    | 必选 | 描述                        |
|--------------------|-------|----|---------------------------|
| host_list          | array | 否  | 静态主机列表，见host定义            |
| dynamic_group_list | array | 否  | 动态分组ID列表，见dynamic_group定义 |
| topo_node_list     | array | 否  | 分布式拓扑节点列表，见topo_node定义    |

**说明：** host_list、dynamic_group_list、topo_node_list不能同时为空

##### host

{% include '_generic_v4_host.md.j2' %}

##### dynamic_group

| 字段 | 类型     | 必选 | 描述     |
|----|--------|----|--------|
| id | string | 是  | 动态分组ID |

##### topo_node

| 字段        | 类型     | 必选 | 描述                            |
|-----------|--------|----|-------------------------------|
| id        | long   | 是  | 拓扑节点ID                        |
| node_type | string | 是  | 拓扑节点类型，可选值：module(模块)、set(集群) |
