@mixin table {
    table {
        width: 100%;
        font-size: 12px;
        text-align: left;
        table-layout: fixed;
    
        th,
        td {
            height: 40px;
            padding: 0 10px;
            border-bottom: 1px solid #dcdee5;
        }
    
        th {
            font-weight: normal;
            color: #313238;
            background: #f0f1f5;
            user-select: none;
    
            &:hover {
                background: #eaebf0;
            }
        }
    
        td {
            color: #63656e;
            cursor: pointer;
    
            .cell {
                height: 20px;
                overflow: hidden;
                line-height: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    
        tbody {
            tr {
                &:hover {
                    td {
                        background-color: #f5f7fa;
                    }
                }
            }
        }
    }
}
