@define-mixin scroller $backgroundColor: #c4c6cc, $width: 6px {
    &::-webkit-scrollbar {
        width: $width;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $backgroundColor;
        border-radius: 3px;
    }
}
