{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": false,
                "useBuiltIns": "usage",
                "corejs": {
                    "version": 3
                }
            }
        ],
        [
            "@vue/babel-preset-jsx",
            {
              "compositionAPI": "native"
            }
        ]
    ],
    "plugins": [
        "@babel/syntax-dynamic-import",
        "@babel/transform-modules-commonjs",
        "@babel/proposal-export-namespace-from",
        "@babel/proposal-class-properties",
        ["@babel/plugin-transform-runtime", {
            "regenerator": false,
            "corejs": false,
            "helpers": true,
            "useESModules": false
        }],
        "@vue/transform-vue-jsx",
        "module:@vue/babel-sugar-inject-h",
        "lodash"
    ]
}
