<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOG_PATTERN"
              value="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%X{traceId}|%X{spanId}][%thread] %-5level %logger{36}:%method:%line - %msg%n"/>
    <property name="BK_LOG_DIR" value="${job.log.dir:-/data/bkee/logs/job}"/>
    <property name="BK_LOG_DIR_EXECUTE" value="${BK_LOG_DIR}/job-execute"/>
    <property name="EXECUTE_LOG_FILE" value="${BK_LOG_DIR_EXECUTE}/execute.log"/>
    <property name="ERROR_LOG_FILE" value="${BK_LOG_DIR_EXECUTE}/error.log"/>
    <property name="ESB_LOG_FILE" value="${BK_LOG_DIR_EXECUTE}/esb_client.log"/>
    <property name="SCHEDULE_LOG_FILE" value="${BK_LOG_DIR_EXECUTE}/schedule.log"/>
    <property name="ESB_JOB_LOG_FILE" value="${BK_LOG_DIR_EXECUTE}/esb_job.log"/>
    <property name="IAM_LOG_FILE" value="${BK_LOG_DIR_EXECUTE}/iam.log"/>
    <property name="TASK_MONITOR_LOG_FILE" value="${BK_LOG_DIR_EXECUTE}/monitor_task.log"/>
    <contextName>logback</contextName>

    <appender name="execute-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${EXECUTE_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${EXECUTE_LOG_FILE}-%d{yyyyMMdd_HH}.log.%i</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>168</maxHistory>
            <totalSizeCap>100GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="async-execute-appender" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10240</queueSize>
        <appender-ref ref="execute-appender"/>
    </appender>
    <appender name="schedule-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SCHEDULE_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${SCHEDULE_LOG_FILE}-%d{yyyyMMdd}.log.%i</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>24GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="esb-job-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ESB_JOB_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ESB_JOB_LOG_FILE}-%d{yyyyMMdd}.log.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="esb-client-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ESB_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ESB_LOG_FILE}-%d{yyyyMMdd_HH}.log.%i</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>168</maxHistory>
            <totalSizeCap>100GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="error-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ERROR_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ERROR_LOG_FILE}-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="iam-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${IAM_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${IAM_LOG_FILE}-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>72</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="task-monitor-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${TASK_MONITOR_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${TASK_MONITOR_LOG_FILE}-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>3</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <springProfile name="local">
        <logger name="com.tencent.bk.job" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="com.tencent.bk.job.execute.schedule" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="com.tencent.bk.job.common.web.interceptor.EsbApiLogInterceptor" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="com.tencent.bk.job.common.esb" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="com.tencent.bk.sdk.iam" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="TaskMonitorLogger" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="dev &amp; !kubernetes">
        <logger name="com.tencent.bk.job" level="DEBUG" additivity="false">
            <appender-ref ref="async-execute-appender"/>
        </logger>
        <logger name="com.tencent.bk.job.execute.schedule" level="DEBUG" additivity="false">
            <appender-ref ref="schedule-appender"/>
        </logger>
        <logger name="com.tencent.bk.job.common.web.interceptor.EsbApiLogInterceptor" level="DEBUG" additivity="false">
            <appender-ref ref="esb-job-appender"/>
        </logger>
        <logger name="com.tencent.bk.job.common.esb" level="DEBUG" additivity="false">
            <appender-ref ref="esb-client-appender"/>
        </logger>
        <logger name="org" level="INFO" additivity="false">
            <appender-ref ref="execute-appender"/>
        </logger>
        <logger name="com.tencent.bk.sdk.iam" level="DEBUG" additivity="false">
            <appender-ref ref="iam-appender"/>
        </logger>
        <logger name="TaskMonitorLogger" level="INFO" additivity="false">
            <appender-ref ref="task-monitor-appender"/>
        </logger>
        <root level="ERROR">
            <appender-ref ref="execute-appender"/>
            <appender-ref ref="error-appender"/>
        </root>
    </springProfile>
    <springProfile name="prod &amp; !kubernetes">
        <logger name="com.tencent.bk.job" level="INFO" additivity="false">
            <appender-ref ref="async-execute-appender"/>
        </logger>
        <logger name="com.tencent.bk.job.execute.schedule" level="INFO" additivity="false">
            <appender-ref ref="schedule-appender"/>
        </logger>
        <logger name="com.tencent.bk.job.common.web.interceptor.EsbApiLogInterceptor" level="INFO" additivity="false">
            <appender-ref ref="esb-job-appender"/>
        </logger>
        <logger name="com.tencent.bk.job.common.esb" level="INFO" additivity="false">
            <appender-ref ref="esb-client-appender"/>
        </logger>
        <logger name="org" level="INFO" additivity="false">
            <appender-ref ref="async-execute-appender"/>
        </logger>
        <logger name="com.tencent.bk.sdk.iam" level="INFO" additivity="false">
            <appender-ref ref="iam-appender"/>
        </logger>
        <logger name="TaskMonitorLogger" level="INFO" additivity="false">
            <appender-ref ref="task-monitor-appender"/>
        </logger>
        <root level="ERROR">
            <appender-ref ref="execute-appender"/>
            <appender-ref ref="error-appender"/>
        </root>
    </springProfile>
    <springProfile name="dev &amp; kubernetes">
        <logger name="com.tencent.bk.job" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="com.tencent.bk.sdk.iam" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="TaskMonitorLogger" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="prod &amp; kubernetes">
        <logger name="com.tencent.bk.job" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="com.tencent.bk.sdk.iam" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="TaskMonitorLogger" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
