| Code | Description                           |
|------|---------------------------------------|
| 0    | Unknown error                         |
| 1    | Agent exception                       |
| 2    | Invalid execution target              |
| 3    | Last execution succeeded              |
| 5    | Pending                               |
| 7    | Running                               |
| 9    | Success                               |
| 11   | Failed                                |
| 12   | Task dispatch failed                  |
| 13   | Task timeout                          |
| 15   | Task log error                        |
| 16   | GSE script log timeout                |
| 17   | GSE file log timeout                  |
| 18   | Agent not installed                   |
| 101  | Script execution failed               |
| 102  | Script execution timeout              |
| 103  | Script execution terminated           |
| 104  | Script returned non-zero exit code    |
| 202  | File transfer failed                  |
| 203  | Source file does not exist            |
| 301  | File task system error - Unclassified |
| 303  | File task timeout                     |
| 310  | Agent exception                       |
| 311  | Username does not exist               |
| 312  | Incorrect password                    |
| 320  | Failed to obtain file                 |
| 321  | File exceeds limit                    |
| 329  | File transfer error                   |
| 399  | Task execution error                  |
| 403  | GSE task force-terminate succeeded    |
| 404  | GSE task force-terminate failed       |
| 500  | Unknown status                        |
