<included>
    <property name="APP_NAME" value="${APP_NAME:-job-file-gateway}"/>
    <property name="BK_LOG_DIR" value="${job.log.dir:-/data/bkee/logs/job}"/>
    <property name="APP_LOG_DIR" value="${BK_LOG_DIR}/job-file-gateway}"/>
    <property name="APP_LOG_NAME" value="gateway.log"/>
</included>
