spring:
  profiles:
    active: prod
ribbon:
  ServerListRefreshInterval: 3000

management:
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
    # 使用spring cloud stream rabbitmq, 禁用掉springboot的rabbitmq health检查
    rabbit:
      enabled: false
  endpoints:
    web:
      exposure:
        include: shutdown,health,configprops,env,beans,conditions,loggers,metrics,mappings,prometheus,scheduledtasks,info,refresh,busrefresh,bindings
      base-path: /actuator
    enabled-by-default: false
  endpoint:
    shutdown:
      enabled: true
    health:
      enabled: true
      show-details: when_authorized
    configprops:
      enabled: true
    env:
      enabled: true
    beans:
      enabled: true
    conditions:
      enabled: true
    loggers:
      enabled: true
    metrics:
      enabled: true
    mappings:
      enabled: true
    prometheus:
      enabled: true
    scheduledtasks:
      enabled: true
    info:
      enabled: true
    refresh:
      enabled: true
    busrefresh:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
server:
  port: 19809
  shutdown: graceful
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
