##### host_password_list

| 字段         | 类型   | 必选 | 描述  |
|-------------|--------|-----|--------|
| bk_cloud_id | long   | 否  | 管控区域ID  |
| ip          | string | 否  | IP地址     |
| host_id     | long   | 否  | 主机ID。host_id与bk_cloud_id+ip，二者至少填写其一，host_id优先。 |
| encrypted_password    | String | 是  | 加密后的密码 |
