##### rolling_config

| 字段         | 类型     | 必选 | 描述                                   |
|------------|--------|----|--------------------------------------|
| expression | string | 是  | 滚动策略表达式                              |
| mode       | int    | 是  | 滚动机制,1-执行失败则暂停；2-忽略失败，自动滚动下一批；3-人工确认 |
