##### dynamic_group

| 字段 | 类型     | 必选 | 描述     |
|----|--------|----|--------|
| id | string | 是  | 动态分组 ID |

##### topo_node

| 字段        | 类型     | 必选 | 描述                            |
|-----------|--------|----|-------------------------------|
| id        | long   | 是  | 拓扑节点 ID                        |
| node_type | string | 是  | 拓扑节点类型，可选值：module(模块)、set(集群) |
