| 字段                | 类型     | 是否一定存在 | 描述     |
|-------------------|--------|--------|--------|
| job_instance_id   | long   | 是      | 作业实例ID |
| job_instance_name | string | 否      | 作业实例名称 |
| step_instance_id  | long   | 否      | 步骤实例ID |
