##### account

| 字段    | 类型     | 必选 | 描述                                                               |
|-------|--------|----|------------------------------------------------------------------|
| id    | long   | 否  | 源执行账号ID，可从get_account_list接口获取。与alias必须存在一个。当同时存在alias和id时，id优先。 |
| alias | string | 否  | 源执行账号别名，可从账号页面获取，推荐使用。与alias必须存在一个。当同时存在alias和id时，id优先。          |
