| 状态码 | 描述           |
|-----|--------------|
| 0   | 未知错误         |
| 1   | Agent异常      |
| 2   | 无效执行对象       |
| 3   | 上次已成功        |
| 5   | 等待执行         |
| 7   | 正在执行         |
| 9   | 执行成功         |
| 11  | 执行失败         |
| 12  | 任务下发失败       |
| 13  | 任务超时         |
| 15  | 任务日志错误       |
| 16  | GSE脚本日志超时    |
| 17  | GSE文件日志超时    |
| 18  | Agent未安装     |
| 101 | 脚本执行失败       |
| 102 | 脚本执行超时       |
| 103 | 脚本执行被终止      |
| 104 | 脚本返回码非零      |
| 202 | 文件传输失败       |
| 203 | 源文件不存在       |
| 301 | 文件任务系统错误-未分类 |
| 303 | 文件任务超时       |
| 310 | Agent异常      |
| 311 | 用户名不存在       |
| 312 | 用户密码错误       |
| 320 | 文件获取失败       |
| 321 | 文件超出限制       |
| 329 | 文件传输错误       |
| 399 | 任务执行出错       |
| 403 | GSE任务强制终止成功  |
| 404 | GSE任务强制终止失败  |
| 500 | 未知状态         |
