##### host_password_list

| 字段         | 类型   | 必选 | 描述  |
|-------------|--------|-----|--------|
| bk_cloud_id | long   | 否  | 管控区域ID  |
| ip          | string | 否  | IP地址     |
| host_id     | long   | 否  | 主机ID     |
| encrypted_password    | String | 是  | 加密后的密码 |
