### 功能描述

删除定时任务

### 请求参数

#### Body参数

| 字段            | 类型     | 必选 | 描述                                      |
|---------------|--------|----|-----------------------------------------|
| bk_scope_type | string | 是  | 资源范围类型。可选值: biz - 业务，biz_set - 业务集      |
| bk_scope_id   | string | 是  | 资源范围ID, 与bk_scope_type对应, 表示业务ID或者业务集ID |
| id            | long   | 否  | 定时任务ID                                  |

### 请求参数示例

- POST

```json
{
  "bk_app_code": "esb_test",
  "bk_app_secret": "xxx",
  "bk_token": "xxx",
  "bk_scope_type": "biz",
  "bk_scope_id": "2",
  "id": 1000045
}
```

### 返回结果示例

```json
{
  "code": 0,
  "result": true
}
```

### 返回结果参数说明

{% include '_generic_response.md.j2' %}

#### data

无
