### 功能描述

查看高危语句检测规则列表。

### 请求参数

#### 接口参数

| 字段                   | 类型     | 必选  | 描述                                                                       |
|----------------------|--------|-----|--------------------------------------------------------------------------|
| expression           | string | 否   | 表达式                                                                      |
| script_language_list | array  | 否   | 脚本语言列表:1 - shell, 2 - bat, 3 - perl, 4 - python, 5 - powershell, 6 - sql |
| description          | string | 否   | 规则描述                                                                     |
| action               | int    | 否   | 处理动作: 1 - 扫描, 2 - 拦截                                                     |

### 请求参数示例

```json
{
    "script_language_list": [
        1
    ],
    "action": 2
}
```

### 返回结果示例

```json
{
    "code": 0,
    "result": true,
    "data": [
        {
            "id": 1,
            "expression": "rm",
            "script_language_list": [
                1
            ],
            "description": "drangerous!!!",
            "action": 2,
            "status": 0,
            "creator": "admin",
            "create_time": 1695193968000,
            "last_modify_user": "admin",
            "last_modify_time": 1695302417000
        }
    ],
    "job_request_id": "xxx"
}
```

### 返回结果参数说明

{% include '_generic_response.md.j2' %}

##### data

{% include '_generic_response_page_data.md.j2' %}

##### data.data

| 字段                   | 类型     | 是否一定存在 | 描述                                                                       |
|----------------------|--------|--------|--------------------------------------------------------------------------|
| id                   | long   | 是      | 高危语句规则ID                                                                 |
| expression           | string | 是      | 表达式                                                                      |
| script_language_list | array  | 是      | 脚本语言列表:1 - shell, 2 - bat, 3 - perl, 4 - python, 5 - powershell, 6 - sql |
| description          | string | 否      | 规则描述                                                                     |
| action               | int    | 是      | 处理动作: 1 - 扫描, 2 - 拦截                                                     |
| status               | int    | 是      | 启用状态: 0 - 停用, 1 - 启用                                                     |
| creator              | string | 是      | 创建人                                                                      |
| create_time          | long   | 是      | 创建时间Unix时间戳（ms）                                                          |
| last_modify_user     | string | 是      | 最近一次修改人                                                                  |
| last_modify_time     | long   | 是      | 最近一次修改时间Unix时间戳（ms）                                                      |
