### 功能描述

获取主机账号的密码的加密信息

### 请求参数

#### Query参数

无

### 请求参数示例

- GET

```json
/api/v3/get_account_password_encryption_metadata
```

### 返回结果示例

```json
{
    "code": 0,
    "result": true,
    "data": {
        "public_key": "xxx",
        "encrypt_algorithm": "RSA"
    },
    "job_request_id": "xxx"
}
```

### 返回结果说明

{% include '_generic_response.md.j2' %}

##### data

| 字段                | 类型     | 是否一定不为null | 描述                                       |
|-------------------|--------|------------|------------------------------------------|
| public_key        | string | 是          | 公钥（Base64编码）                             |
| encrypt_algorithm | string | 是          | 加密算法，支持经典密码算法（RSA、AES）和国家商用密码算法（SM2、SM4） |
