### 功能描述

获取主机账号加密元信息

### 请求参数

#### Query参数

| 字段           | 类型   | 必选 | 描述                                                           |
|---------------|--------|-----|---------------------------------------------------------------|
| bk_scope_type | string | 是  | 资源范围类型。可选值: biz - 业务，biz_set - 业务集                  |
| bk_scope_id   | string | 是  | 资源范围ID, 与bk_scope_type对应, 表示业务ID或者业务集ID             |
| bk_biz_id     | long   | 是  | *已弃用*。业务ID。此字段已被弃用并由字段bk_scope_type+bk_scope_id替换 |

### 请求参数示例

- GET

```json
/api/v3/get_account_encryption_metadata?bk_scope_type=biz&bk_scope_id=1
```

### 返回结果示例

```json
{
  "code": 0,
  "message": null,
  "result": true,
  "data": {
    "public_key": "xxx",
    "encrypt_algorithm": "xxx"
  }
}
```

### 返回结果说明

{% include '_generic_response.md.j2' %}

##### data

| 字段               | 类型     | 描述            |
|-------------------|---------|-----------------|
| public_key        | string  | 公钥（Base64编码）|
| encrypt_algorithm | string  | 加密算法，比如RSA |
