@mixin scroller {
    &:hover {
        &::-webkit-scrollbar {
            display: block;
        }
    }

    &::-webkit-scrollbar {
        display: none;
        width: 6px;
        height: 6px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(0 0 0 / 25%);
        border-color: transparent;
        border-radius: 4px;
        transition: all 0.3s ease;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgb(0 0 0 / 50%);
        transition: all 0.3s ease;
    }

    &::-webkit-resizer,
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner {
        display: none;
    }
}
