spring:
  application:
    name: ${SPRING_APPLICATION_NAME:job-file-worker}
  profiles:
    active: prod
  servlet:
    multipart:
      max-file-size: 5GB
      max-request-size: 5GB

management:
  endpoints:
    web:
      exposure:
        include: health,configprops,env,beans,conditions,loggers,metrics,mappings,prometheus,scheduledtasks,info
      base-path: /actuator
    enabled-by-default: false
  endpoint:
    health:
      enabled: true
    configprops:
      enabled: true
    env:
      enabled: true
    beans:
      enabled: true
    conditions:
      enabled: true
    loggers:
      enabled: true
    metrics:
      enabled: true
    mappings:
      enabled: true
    prometheus:
      enabled: true
    scheduledtasks:
      enabled: true
    info:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

server:
  shutdown: graceful
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
